Repository vadzimk/car_sharing: changes, and which GitLab CI jobs are due for each by the changed paths.
All: instal_cypress_dependencies, install_server_dependencies, install_client_dependencies

instal_cypress_dependencies:
  stage: install
  image: node:16.13.0
  script:
  - export CYPRESS_CACHE_FOLDER=$CI_PROJECT_DIR/.cache/Cypress
  - export DEBUG=cypress:cli
  - npm ci --cache .npm --prefer-offline --ignore-scripts
  cache:
    key: DEP-CY-$CI_COMMIT_REF_SLUG
    paths:
    - .cache/Cypress
    policy: push

install_server_dependencies:
  stage: install
  image: node:16.13.0
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline
  cache:
    key: DEP-S-$CI_COMMIT_REF_SLUG
    paths:
    - server/node_modules
    - server/.npm/
    policy: push

install_client_dependencies:
  stage: install
  image: node:16.13.0
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline
  cache:
    key: DEP-C-$CI_COMMIT_REF_SLUG
    paths:
    - client/node_modules
    - client/.npm/
    policy: push

new ci pipeline up to e2e
  .gitlab-ci.yml
Due: none

new ci pipeline up to e2e - distributed cache working
  .gitlab-ci.yml
  README.md
Due: none

new ci pipeline - make cypress work
  .gitlab-ci.yml
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Due: instal_cypress_dependencies, install_server_dependencies, install_client_dependencies

new ci pipeline - make cypress work
  .gitlab-ci.yml
Due: none

new ci pipeline - make cypress work
  .gitlab-ci.yml
  cypress/videos/user.spec.js.mp4
Due: none

new ci pipeline - make cypress work
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: instal_cypress_dependencies

new ci pipeline - make cypress work
  cypress/plugins/config.js
  cypress/videos/user.spec.js.mp4
  server/config.js
Due: none

new ci pipeline - deploy server
  .gitlab-ci.yml
Due: none

new ci pipeline - deploy server
  .gitlab-ci.yml
  docker-compose.oci.prod.yml
Due: none

new ci pipeline - deploy server
  docker-compose.oci.prod.yml
Due: none

Path conditions:
  instal_cypress_dependencies: any of: package-lock.json
  install_server_dependencies: any of: server/package-lock.json
  install_client_dependencies: any of: client/package-lock.json
